version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./static/images:/app/static/images
      - ./output:/app/output
      - ./dataset:/app/dataset
    environment:
      - GITHUB_TOKEN=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
